.icon{ float: left; margin-right: 5px; background: url('glyphish_custom_sprite_white.png') no-repeat; }
.active .icon{ background-image: url('glyphish_custom_sprite.png') no-repeat; }

.icon-refresh{ background-position: 0 0; width: 24px; height: 26px; } 
.icon-redo{ background-position: 0 -74px; width: 30px; height: 26px; } 
.icon-magnify{ background-position: 0 -148px; width: 24px; height: 24px; } 
.icon-chat{ background-position: 0 -220px; width: 24px; height: 22px; } 
.icon-chat-2{ background-position: 0 -290px; width: 24px; height: 22px; } 
.icon-coffee{ background-position: 0 -360px; width: 20px; height: 24px; } 
.icon-map{ background-position: 0 -432px; width: 26px; height: 21px; } 
.icon-user{ background-position: 0 -501px; width: 24px; height: 21px; } 
.icon-group{ background-position: 0 -570px; width: 32px; height: 21px; } 
.icon-eye{ background-position: 0 -639px; width: 24px; height: 16px; } 
.icon-tag{ background-position: 0 -703px; width: 22px; height: 22px; } 
.icon-tags{ background-position: 0 -773px; width: 24px; height: 25px; } 
.icon-rolodex{ background-position: 0 -846px; width: 26px; height: 18px; } 
.icon-controller{ background-position: 0 -912px; width: 30px; height: 23px; } 
.icon-newspaper{ background-position: 0 -983px; width: 28px; height: 23px; } 
.icon-upload-photo{ background-position: 0 -1054px; width: 24px; height: 17px; } 
.icon-check{ background-position: 0 -1119px; width: 16px; height: 18px; } 
.icon-ipad{ background-position: 0 -1185px; width: 22px; height: 28px; } 
.icon-notepad{ background-position: 0 -1261px; width: 22px; height: 28px; } 
.icon-envelope{ background-position: 0 -1337px; width: 24px; height: 16px; } 
.icon-stickynote{ background-position: 0 -1401px; width: 22px; height: 22px; } 
.icon-warning{ background-position: 0 -1471px; width: 24px; height: 19px; } 
.icon-circle-check{ background-position: 0 -1538px; width: 28px; height: 28px; } 
.icon-gear{ background-position: 0 -1614px; width: 26px; height: 26px; } 
.icon-note-2{ background-position: 0 -1688px; width: 23px; height: 23px; } 
.icon-facebook{ background-position: 0 -1759px; width: 22px; height: 22px; } 
.icon-twitterbird{ background-position: 0 -1829px; width: 22px; height: 22px; } 
.icon-action{ background-position: 0 -1899px; width: 28px; height: 22px; } 
.icon-reply{ background-position: -80px 0; width: 23px; height: 17px; } 
.icon-replyall{ background-position: -80px -65px; width: 28px; height: 16px; } 
.icon-subscription{ background-position: -80px -129px; width: 19px; height: 23px; } 
.icon-compose{ background-position: -80px -200px; width: 23px; height: 18px; } 
.icon-trash{ background-position: -80px -266px; width: 20px; height: 24px; } 
.icon-circle-no{ background-position: -80px -338px; width: 28px; height: 28px; } 
.icon-fish{ background-position: -80px -414px; width: 28px; height: 13px; } 
.icon-cloud{ background-position: -80px -475px; width: 28px; height: 17px; } 
.icon-key{ background-position: -80px -540px; width: 26px; height: 26px; } 
.icon-sketchbook{ background-position: -80px -614px; width: 34px; height: 25px; } 
.icon-checkmark{ background-position: -80px -687px; width: 19px; height: 18px; } 
.icon-list{ background-position: -80px -753px; width: 20px; height: 14px; } 
.icon-sound-off{ background-position: -80px -815px; width: 13px; height: 19px; } 
.icon-sound-on{ background-position: -80px -882px; width: 30px; height: 25px; } 
.icon-download{ background-position: -80px -955px; width: 24px; height: 22px; } 
.icon-upload{ background-position: -80px -1025px; width: 24px; height: 22px; } 
.icon-zoomin{ background-position: -80px -1095px; width: 22px; height: 22px; } 
.icon-zoomout{ background-position: -80px -1165px; width: 22px; height: 22px; } 
.icon-broadcast{ background-position: -80px -1235px; width: 26px; height: 24px; } 
.icon-videocamera{ background-position: -80px -1307px; width: 34px; height: 20px; } 
.icon-star{ background-position: -80px -1375px; width: 26px; height: 26px; } 
.icon-clapboard{ background-position: -80px -1449px; width: 24px; height: 22px; } 
.icon-facetime{ background-position: -80px -1519px; width: 24px; height: 17px; } 
.icon-at{ background-position: -80px -1584px; width: 24px; height: 24px; } 
.icon-heart{ background-position: -80px -1656px; width: 24px; height: 21px; } 
.icon-crop{ background-position: -80px -1725px; width: 24px; height: 24px; } 
.icon-database{ background-position: -80px -1797px; width: 18px; height: 24px; } 
.icon-circlex{ background-position: -80px -1869px; width: 22px; height: 22px; } 
.icon-ticket{ background-position: -80px -1939px; width: 28px; height: 18px; } 
.icon-key{ background-position: -162px 0; width: 12px; height: 26px; } 
.icon-iphone{ background-position: -162px -74px; width: 16px; height: 28px; } 
.icon-cabinet{ background-position: -162px -150px; width: 20px; height: 26px; } 
.icon-dialpad{ background-position: -162px -224px; width: 22px; height: 22px; } 
.icon-inbox{ background-position: -162px -294px; width: 24px; height: 24px; } 
.icon-feed{ background-position: -162px -366px; width: 26px; height: 26px; } 
.icon-info{ background-position: -162px -440px; width: 28px; height: 28px; } 
.icon-photos{ background-position: -162px -516px; width: 22px; height: 24px; } 
.icon-film-roll{ background-position: -162px -588px; width: 26px; height: 22px; } 
.icon-movie-2{ background-position: -162px -658px; width: 20px; height: 25px; } 
.icon-play{ background-position: -162px -731px; width: 7px; height: 14px; } 
.icon-plus{ background-position: -162px -793px; width: 14px; height: 14px; } 
.icon-house{ background-position: -162px -855px; width: 22px; height: 22px; } 
.icon-lock{ background-position: -162px -925px; width: 20px; height: 24px; } 
.icon-cloud{ background-position: -162px -997px; width: 24px; height: 16px; } 
.icon-download{ background-position: -162px -1061px; width: 19px; height: 24px; } 
.icon-x{ background-position: -162px -1133px; width: 14px; height: 14px; } 
.icon-microphone{ background-position: -162px -1195px; width: 12px; height: 24px; } 
.icon-paperclip{ background-position: -162px -1267px; width: 14px; height: 26px; } 
.icon-display{ background-position: -162px -1341px; width: 22px; height: 20px; } 
.icon-tv{ background-position: -162px -1409px; width: 24px; height: 24px; } 
.icon-location{ background-position: -162px -1481px; width: 20px; height: 20px; } 
.icon-calendar{ background-position: -162px -1549px; width: 23px; height: 25px; } 
.icon-camera{ background-position: -162px -1622px; width: 24px; height: 18px; } 
.icon-beaker-2{ background-position: -162px -1688px; width: 20px; height: 24px; } 
